.about {
	.pure-g:first-of-type {
		margin-top: @margin-width;
	}
	.pure-g {
		margin-top: @margin-width*3;
	}
	p {
		padding-right: @margin-width/2;
		font-size: 120%;
	}
}

span.code {
	display: inline-block;
	color:@gray-darkish;
	border:1px solid @gray-light;
	font-family: monospace;
	padding:2px 4px;
	border-radius: 3px;
}


pre.manifest-example {
	background: @gray-dark;
	border-radius: 3px;
	color:@white;
	padding:@margin-width;
	text-align:left;
	.json-markup-key {
		color: @orange;
	}

	.json-markup-string {
		color: @green;
	}
}

.attribution-list {
	padding: 4px 0px;
	li {
		margin: 4px 0px;

		a {
			padding: 4px 4px;
			border-left: 4px solid @light-blue;
			&:hover {
				border-left: 4px solid lighten(@light-blue, 40%);
			};
		}
	}
}