.landing {
	padding: @margin-width @margin-width*4;
	margin:0px auto;
	text-align: center;



	.landing-actions {
		margin: @margin-width*4 @margin-width;
		padding: @margin-width*2 @margin-width;
		border-top:1px solid @gray-light;
		border-bottom:1px solid @gray-light;

		.pure-button {
			width:128px;
			margin:@margin-width/2;
		}
	}
}