@margin-width: 16px;

@white: #ffffff;
@gray-light: #eeeeee;
@gray: darken(@gray-light, 8%);
@gray-darkish: lighten(@gray-dark, 20%);
@gray-dark: #0d0f10;
@black: #000000;

@blue: #4e3ab5;
@light-blue: #73337b;
@orange: #fe5050;
@red: #fe5050;
@green: #45c093;


@nav-width: 64px;
@header-height: @margin-width*8;

@import "pure.less";
@link-color: @gray-dark;

* {
    box-sizing: border-box;
}

a:not(.pure-button) {
    text-decoration: none;
    transition: .2s all;
    color: @link-color;
}
a:hover:not(.pure-button) {
    color: lighten(@link-color, 40%);
}
ul {
    list-style: none;
    padding: 0px;
    li {
        a{display: block;
        }
    }
}

#main {
    width: ~"calc(100% - " @nav-width ~")";
    margin-top: @header-height;
    display: inline-block;
    margin-left: @nav-width;
    padding: @margin-width;
}
#raw {
    width: 100%;
    margin-top: @header-height;
    display: inline-block;
    padding: @margin-width;
}
.pager {
    text-align: center;
    ul {
        margin: 0px auto;
        li {
            display: inline-block;
            padding: @margin-width/4 @margin-width/2;
            a.active {
                color: @orange;
            }
        }
        li.prev {
            padding-right: @margin-width*2;
        }
        li.next {
            padding-left: @margin-width*2;
        }
    }
    .page-counter {
        float: left;
        font-size: 85%;
        line-height: 2em;
        color: lighten(@gray-dark, 30%);
    }
}
.text-muted {
    color: lighten(@gray-dark, 40%);
}
.not-muted {
    color: @black;
}
.form-centered {
    max-width: 420px;
    margin: 0px auto;
    text-align: center;
    padding: @margin-width* 4;
    input, button {
        width: 100%;
    }
    button {
        margin: @margin-width/2 0px;
    }
}
.alert {
    width: 100%;
    padding: 4px 12px;
    margin: @margin-width/2 0px;
    color: @white;
    text-align: left;
}
.alert.alert-error {
    background-color: fadeout(@red, 50%);
    border-left: 4px solid @red;
}
.alert.alert-success {
    background-color: fadeout(@green, 50%);
    border-left: 4px solid @green;
}
.button-xsmall {
    font-size: 70%;
}
.button-small {
    font-size: 85%;
}
.button-large {
    font-size: 110%;
}
.button-xlarge {
    font-size: 125%;
}
.section {
    border-bottom: 1px solid @gray-light;
    margin-bottom: @margin-width;
    .text-muted();
    position: relative;
}
.button-secondary {
    color: white;
    border-radius: 4px;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
}
.button-primary {
    background: @blue;
    color: @white;
}
.button-success {
    background: @green; /* this is a green */
    color: @white;
}
.button-error {
    background: @red; /* this is a maroon */
}
.button-warning {
    background: @orange; /* this is an orange */
    color: @white;
}
.button-secondary {
    background: @light-blue; /* this is a light blue */
}
.pure-form {
    label {
        font-weight: 100;
        .text-muted();
        margin-top: 1em;
    }
}
.card {
    padding: @margin-width;
    margin: @margin-width/2;
    box-shadow: 0 0 @margin-width/2 rgba(0, 0, 0, 0.15);
    h4 {
        color: darken(@blue, 20%);
        margin-top: 0px;
    }
}
.card.left {
    margin-left: 0px;
}
.card.right {
    margin-right: 0px;
}
.action-row {
    margin-top: @margin-width;
}
.divider {
    border-left: 1px solid @gray-light;
    height: 100%;
}
.hero-tagline {
    font-size: 150%;
    font-weight: 100;
    line-height: 1.5;
    margin: 0 0 1em;
    color: #666;
}
.save-row {
    margin-top: @margin-width;
}

.section .filter-view {
    position: absolute;
    right:0px;
    top:-12px;
    input.filter {
        font-size: 16px !important;

    }

}
@import "vulns.less";
@import "home.less";
@import "loaders.less";
@import "monitor.less";
@import "modal.less";
@import "landing.less";
@import "icons.less";
@import "about.less";
@import "navs.less";