@import "pure.less";


@gray-dark: #2e2e2e;
@gray-light: #efefef;
@margin-width:16px;
@blue: 0E90D2;

@header-height: @margin-width*8;

* {
	box-sizing: border-box;
}

.inner {
}


.header {
	position: relative;
	border-top: @margin-width/3 solid @gray-dark;
	h1 {
		padding:@margin-width*2;
		margin:0px;
		a {

			padding:@margin-width * 2;
			margin-top: @margin-width * 2;
			color:@gray-light;
			text-shadow: 2px 2px 5px @gray-dark;
			font-size: 1.6em;

		}
			a:hover {
				color: darken(@gray-light, 15%);
			};


	}
	height: @header-height;
}

.header::after {
	content: "";
	background: url(image.jpg);
	background-image: url("/static/images/old-school.jpg");
	background-size:contain;
	opacity:.5;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	position: absolute;
	z-index: -1;   
}


a {
	text-decoration: none;
	transition: .2s all;
}

.side-nav {
	position: fixed;
	width:256px;
	height: ~"calc(100% - " @header-height ~")";
	background: @gray-light;
	ul {
		list-style: none;
		padding:0px;

		li {
			a {
				display: block;
				padding:@margin-width;
				color:@gray-dark;
			}
		}

		li.divider {
			padding:0px;
			border-top: 1px solid darken(@gray-light, 10%);
		}

		li:hover {
			background: lighten(@gray-light, 10%);
		}
	}
}


