<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>vuln.pub</title>
    <link rel="stylesheet" href="/static/style/style.css">
    
  </head>

  <body>
    <div class="header"></div>

    <div class="inner">
      <%= @inner %>
    </div>

  </body>
    
</html>
