<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>a thing</title>
    <link rel="stylesheet" href="/static/style/style.css">
    <script type="text/javascript" src="/static/js/app.js"></script>
  </head>

  <body>
    <div class="header">
      <h4 class="title">
        vuln.pub
      </h4>
    </div>

    <div class="inner">
      <%= @inner %>
    </div>

  </body>
    
</html>
