
<h3 class="section">
    Account Settings
</h3>

<div class="pure-g">
    <div class="pure-u-2-5">
        <h4>Login Settings</h4>

        <form class="user-form pure-form pure-form-stacked">
            <fieldset>
                <%= showError('email', user) %>
                <div class="pure-control-group">
                    <label for="email">Email</label>
                    <input id="email" 
                        class="pure-u-1"
                        name="email" 
                        type="email" 
                        value="<%- user.get('email') %>"
                        placeholder="Email">
                </div>


                <%= showError('password', user) %>
                <div class="pure-control-group">
                    <label for="password">Password</label>
                    <input id="password" 
                        class="pure-u-1"
                        name="password" 
                        type="password" 
                        value="<%- user.get('password') %>"
                        placeholder="Password">
                </div>
                <div class="pure-control-group">
                    <label for="confirm_password">Confirm</label>
                    <input id="confirm_password" 
                        class="pure-u-1"
                        name="confirm_password" 
                        type="password" 
                        value="<%- user.get('password') %>"
                        placeholder="Confirm Password">
                </div>

                <% if(isSaving && !user.getErrors()) { %>
                    <div class="alert alert-success">
                        Your settings have been saved.
                    </div>
                <% } %>


                <div class="pure-control-group save-row">

                    <button type="button" 
                    class="pure-button pure-button-primary save">
                        Save
                    </button>
                </div>

            </fieldset>
        </form>
    </div>
    <div class="pure-u-1-5"></div>
    <div class="pure-u-2-5">
        <h4>API Keys</h4>

        <form class="apikey-form pure-form pure-g margin-left">
            <div class="pure-u-1">
                <h3>Create an API key</h3>
            </div>

            <% if(newKey.getErrors()) { %>
                <div class="pure-u-1">
                    <%= showError('username', newKey) %>
                    <%= showError('password', newKey) %>
                </div>
            <% } %>

            <div class="pure-u-2-5">
                <input
                    name="username" 
                    class="pure-input-1"
                    type="text" 
                    value="<%- newKey.get('username') %>"
                    placeholder="Username">
            </div>
            <div class="pure-u-2-5 password-wrap">
                <input
                    name="password" 
                    class="pure-input-1 append-button"
                    type="password" 
                    value="<%- newKey.get('password') %>"
                    placeholder="Password">
            </div>
            <div class="pure-u-1-5">
                <button type="button" class="pure-button button-success append-button create-key">
                    Create
                </button>
            </div>
        </form>

        <% apikeys.each(function(key) { %>
            <div class="card">
                <h4 class="apikey">
                    <%- key.get('key') %>
                </h4>
                <span class="text-muted">Created: <%- key.get('created') %></span>
                <a class="pull-right pure-button button-error button-xsmall revoke"
                    data-id="<%- key.get('key') %>">
                    Revoke
                </a>
            </div>
        <% }) %>
    </div>
</div>



