<div class="side-nav">
  <ul>
    <li>
      <a href="#alerts">Alerts</a>
    </li>
    <li>
      <a href="#monitors">Your Monitors</a>
    </li>

    <!-- separate --> 
    <li class="divider"></li>
    <li>
      <a href="vulns">Known Vulnerabilities</a>
    </li>

  </ul>
</div>