

<div class="pure-g">
    <div class="pure-u-1-1">
        <form class="pure-form pure-form-aligned form-centered">
            <h3>Enter your username to reset your password</h3>
            <fieldset>
                <div class="pure-control-group">
                    <%= showError('username', reset) %>
                    <input id="name" 
                        name="username" 
                        type="text" 
                        value="<%- reset.get('username') %>"
                        placeholder="Username">
                </div>

                <% if(reset.get('status')) { %>
                    <div class="alert alert-success">
                        A password reset email has been sent to you.
                    </div>
                <% } else { %>
                    <button type="button" 
                        class="pure-button pure-button-primary reset-button">
                        Reset
                    </button>
                <% } %>
            </fieldset>
        </form>

    </div>
</div>