

<div class="pure-g">
    <div class="pure-u-1-1">
        <form class="pure-form pure-form-aligned form-centered">
			<h3>You have logged out</h3>


            <p class="text-muted">choose your own adventure. you can...</p>
            <p><a href="#login">login again</a></p>
            <p class="text-muted">or</p>
            <p><a href="#">go home</a></p>
            <p class="text-muted">or</p>
            <p><a href="<%- link.url %>"><%- link.name %></a></p>
        </form>
    </div>
</div>