

<div class="pure-control-group pure-u-2-5">
    <label for="name">
        Effected Package
    </label>
    <%= showError('name', effect) %>
    <input id="name" 
        class="pure-input-1"
        type="text" 
        value="<%- effect.get('name') %>"
        placeholder="ex: openssl"/>
    <div id="search-view"></div>

</div>


<div class="pure-control-group pure-u-2-5">
    <label for="version">
        Effected Version
    </label>
    <%= showError('version', effect) %>
    <input id="version" 
        class="pure-input-1"
        type="text" 
        value="<%- effect.get('version') %>"
        placeholder="ex: ~> 4.2.0"/>

    <h6>Use <a target="blank" href="http://semver.org/">
        semver to qualify versions</a></h6>
</div>

<div class="pure-congrol-group pure-u-1-5 add-effect-wrap">
    <a class="pure-button button-secondary add-effect" title="Add" href="javascript:void(0);">
        <i class="icon ion-plus-circled"></i>
    </a>
    <a class="pure-button button-error cancel-effect" title="Cancel" href="javascript:void(0);">
        <i class="icon ion-close"></i>
    </a>

</div>
