<h3 class="section">Report a new Vulnerability</h3>

<div class="pure-g report-grid">
    <div class="pure-u-11-24">
        <form class="pure-form pure-form-stacked">
            <fieldset>
                <div class="pure-control-group">
                    <label for="name">
                        Name
                    </label>
                    <%= showError('name', vuln) %>
                    <input id="name" 
                        class="pure-input-1"
                        name="name" 
                        type="text" 
                        value="<%- vuln.get('name') %>"
                        placeholder="Short title about the vulnerability"/>
                </div>

                <label for="effects">
                    Packages
                </label>
                <%= showError('effects', vuln) %>
                <ul class="effects">
                    <% _.each(vuln.get('effects'), function(effect) { %>
                        <li class="<%- effect.vulnerable? 'vulnerable' : 'patched' %>">
                            <span class="text-muted kind">
                                <%- effect.vulnerable? 'Vulnerable' : 'Patched' %>
                            </span>
                            <%- effect.name %> <%- effect.version %>

                            <a href="javascript:void(0);"
                                class="remove-effect pull-right"
                                data-name="<%- effect.name %>"
                                data-version="<%- effect.version %>"
                                data-vulnerable="<%- effect.vulnerable %>">
                                <i class="ion ion-close-circled"></i>
                            </a>

                        </li>
                    <% }) %>
                </ul>


                <div id="add-vuln-effect" class="pure-g"></div>
                <% if(!hasView('effects')) { %>
                <div class="pure-g add-package">
                    <div class="pure-u-1-2">
                        <button type="button" 
                            class="pure-button button-warning add-effected button-small">
                            Add vulnerable package
                        </button>
                    </div>
                    <div class="pure-u-1-2">
                        <button type="button" 
                            class="pure-button button-success add-patched button-small">
                            Add patched package
                        </button>
                    </div>
                </div>
                <% } %>

                <div class="pure-control-group">
                    <label for="name">
                        Description
                    </label>
                    <%= showError('description', vuln) %>
                    <textarea id="description" 
                        class="pure-input-1"
                        name="description" 
                        type="text" 
                        placeholder="A detailed description of why it is a vulnerability, how it works, and how to mitigate it."><%- vuln.get('description') %></textarea>
                </div>
                <h6>Use <a target="blank" href="http://daringfireball.net/projects/markdown/syntax">markdown</a> for formatting</h6>


                <div class="pure-control-group">
                    <label for="external_link">
                        External Link
                    </label>
                    <%= showError('external_link', vuln) %>
                    <input id="external_link" 
                        class="pure-input-1"
                        name="external_link" 
                        type="text" 
                        value="<%- vuln.get('external_link') %>"
                        placeholder="Eg: CVE page, ExploitDB, Pastebin, etc"/>
                </div>

                <% if(vuln.get('id')) { %>
                    <div class="pure-control-group">
                        <div class="alert alert-success">
                            New vulnerability has been created 
                            <a href="#vulns/<%- vuln.get('id') %>">here</a>, thanks!

                        </div>
                    </div>
                <% } else { %>
                    <div class="pure-control-group action-row">
                        <button type="button" class="pure-button button-primary save">
                            Create
                        </button>
                        <button type="button" class="pure-button cancel">
                            Cancel
                        </button>
                    </div>
                <% } %>
            </fieldset>
        </form>
    </div>
    <div class="pure-u-11-24 preview-wrap">
        <div id="report-preview"></div>
    </div>
</div>