<h3><%- monitor.get('name') %></h3>

<% if(monitor.isLoading()) { %>
	<%= inject('loader') %>
<% } else { %>

	<h5 class="section">
		<% if(monitor.get('packages').length === 0) { %>
			This monitor isn't monitoring any packages. If you just created it then
			it may take a few minutes for the packages to show up here. 
		<% } else { %>
			This monitor is monitoring the following packages
		<% } %>
	</h5>

	<div class="pure-g package-list">

		<% proxy.each(function(p, idx) { %>
			<div class="pure-u-1-3">
				<div class="card package-card
					<%- idx % 3 == 0? 'left' : '' %>
					<%- (idx + 1) % 3 == 0? 'right' : '' %>">
					<h4><%- p.get('name') %></h4>
					<p class="text-muted"><%- p.get('version') %></p>
				</div>
			</div>
		<% }) %>
	</div>
<% } %>

<div id="package-pager"></div>