<div class="modal">

    <div class="modal-inner">
        <div class="modal-header">
            <h5 class="section">Create a new Monitor</h5>
        </div>

        <div class="pure-g">
            <div class="pure-u-1-1">
                <form class="pure-form pure-form-stacked create-monitor">
                    <fieldset>
                        <div class="pure-control-group">
                            <label for="name">
                                Name
                            </label>
                            <%= showError('name', monitor) %>
                            <input id="name" 
                                class="pure-input-1"
                                name="name" 
                                type="text" 
                                value="<%- monitor.get('name') %>"
                                placeholder="Name"/>
                        </div>

                        <div class="pure-control-group">
                            <label for="manifest">
                                Publicly Accessible <a href="#about-manifest">manifest file</a>
                            </label>
                            <%= showError('manifest', monitor) %>
                            <input id="manifest" 
                                class="pure-input-1"
                                name="manifest" 
                                type="text" 
                                value="<%- monitor.get('manifest') %>"
                                placeholder="Manifest URL"/>
                        </div>

                        <div class="modal-footer">
                            <div class="pure-control-group action-row">
                                <% if(monitor.get('id')) { %>
                                    <div class="alert alert-success">
                                        "<%- monitor.get('name') %>" has been created
                                    </div>
                                    <button type="button" 
                                        class="pure-button cancel">
                                        Close
                                    </button>

                                <% } else { %> 
                                    <button type="button" 
                                        class="pure-button button-primary save">
                                        Create
                                    </button>
                                    <button type="button" class="pure-button cancel">
                                        Cancel
                                    </button>
                                <% } %>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
