<h3>Home</h3>

<div class="pure-g home-summary">

</div>


<div id="create-monitor"></div>


<h5 class="section">
	Monitors 
	<a href="javascript:void(0)" class="new-monitor pure-button button-primary button-small">New Monitor</a>
</h5>


<% if(!monitors.length) { %>
	<div class="pure-g monitor-list">
		<div class="pure-u-1-1">
			<h6>You aren't monitoring any repositories yet<h6>
		</div>
	</div>
<% } else { %>
	<div class="pure-g monitor-list">
		<% monitors.each(function(mon, i) { %>
			<div class="pure-u-1-2 monitor-card-wrap">
				<div class="card <%- i % 2 == 0? 'left' : 'right' %>">

					<h4>
						<a href="#monitors/<%- mon.get('id') %>">
							<%- mon.get('name') %>
						</a>
					</h4>

					<a class="pure-button button-secondary button-xsmall" 
						href="<%- mon.get('manifest') %>"
						target="_blank">
						View Manifest
					</a>
				</div>

			</div>
		<% }); %>
	</div>
<% } %>