
<div class="landing">
	<div class="limited">
		<h1>
			vuln.pub is a seclist monitoring and notification service.
		</h1>

		<p class="hero-tagline">
			vuln.pub watches for vulnerabilities published on security lists. It notifies you when a dependency in your application has a potential vulnerability.
		</p>

		<div class="landing-actions">
			<a href="#register"
			 class="pure-button button-success button-xlarge">
				Register
			</a>
			<span class="text-muted">or</span>
			<a href="#login" class="pure-button button-primary button-xlarge">
				Login
			</a>
		</div>
	</div>
	<div class="setup-steps pure-g">
		<div class="pure-u-1">
			<h4 class="text-muted">How?</h4>
		</div>
		<div class="step">
			<h5>Describe how your dependencies are managed</h5>
			<pre class="manifest-example"></pre>
		</div>

		<div class="step">
			<h5>Host your file somewhere, then log in and create a vulnpub monitor</h5>
			<img src="/static/images/repo-index.png"/>
		</div>

		<div class="step">
			<h5>Receive emails when a vulnerability effects a dependency</h5>
			<img src="/static/images/email-alert.png"/>
		</div>

	</div>

	<div class="pure-g">
		<div class="pure-u-1">
			<a href="/about/manifest">Learn more about how to get started</a>
		</div>
	</div>
</div>